.about{
    background-color: transparent;
    font-size: 1.1em;
    color: white;
    
    
}

.profile{
    max-width: 18em;
}

.my-details {
    background-color: transparent;
    color: rgb(235, 231, 245);
    
    
    
}
.about-container{
    background-image: url("../../assets/img/background/bgAboutme.png");
}